[submodule "imbrace-fe"]
	path = imbrace-fe
	url = https://github.com/imbraceltd/imbrace-fe.git
[submodule "imbrace-chat-widget"]
	path = imbrace-chat-widget
	url = https://github.com/imbraceltd/imbrace-chat-widget.git
[submodule "imbrace-ai-chatbot"]
	path = imbrace-ai-chatbot
	url = https://github.com/imbraceltd/imbrace-ai-chatbot.git
[submodule "platform"]
	path = platform
	url = https://github.com/imbraceltd/platform.git
[submodule "app-gateway"]
	path = app-gateway
	url = https://github.com/imbraceltd/app-gateway.git
[submodule "ai-agent"]
	path = ai-agent
	url = https://github.com/imbraceltd/ai-agent.git
[submodule "chat-ai"]
	path = chat-ai
	url = https://github.com/imbraceltd/chat-ai.git
[submodule "channel"]
	path = channel
	url = https://github.com/imbraceltd/channel.git
[submodule "data_board"]
	path = data_board
	url = https://github.com/imbraceltd/data_board.git
[submodule "file"]
	path = file
	url = https://github.com/imbraceltd/file.git
[submodule "marketplace"]
	path = marketplace
	url = https://github.com/imbraceltd/marketplace.git
[submodule "workflow"]
	path = workflow
	url = https://github.com/imbraceltd/workflow.git
